.EnterZip { 
    font-weight: bolder;
    font-size: larger;
}


.ZipButton {
    display: flex;
    
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.ZipButton.MuiButton-containedPrimary {
    margin: 2em;
}

.TField {
    width: 400px;
    
    
}

.card-title {
    font-weight: bolder;
}

.card {
    
    padding-right: 40px;    
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em;
}

.card-body {
    font-size: larger;
    display: flex;
    text-align: flex-start;
    font-size: 15px;
    padding: 1em;

}

.loved {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.MuiList-root.card-body.MuiList-padding {
    margin: 5px; 
}